<?xml version="1.0" encoding="UTF-8"?>
<!--

    MOTECH PLATFORM OPENSOURCE LICENSE AGREEMENT

    Copyright (c) 2010-11 The Trustees of Columbia University in the City of
    New York and Grameen Foundation USA.  All rights reserved.

    Redistribution and use in source and binary forms, with or without
    modification, are permitted provided that the following conditions are met:

    1. Redistributions of source code must retain the above copyright notice,
    this list of conditions and the following disclaimer.

    2. Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the following disclaimer in the documentation
    and/or other materials provided with the distribution.

    3. Neither the name of Grameen Foundation USA, Columbia University, or
    their respective contributors may be used to endorse or promote products
    derived from this software without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY GRAMEEN FOUNDATION USA, COLUMBIA UNIVERSITY
    AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
    BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
    FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL GRAMEEN FOUNDATION
    USA, COLUMBIA UNIVERSITY OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
    LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
    OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
    LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
    NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
    EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->

<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.1//EN" "http://resources.openmrs.org/doctype/config-1.1.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>${moduleName}</id>
	<name>${project.name}</name>
	<version>${project.version}</version>
	<package>${modulePackage}</package>
	<author>Matthew Blanchette</author>
	<description>
			${project.description}
	</description>

	<activator>${modulePackage}.MotechModuleActivator</activator>
		
	<require_version>1.5.0.10342</require_version>
	
	<require_modules>
		<require_module version="1.4.0.3">org.openmrs.module.idgen</require_module>
	</require_modules>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${modulePackage}.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${modulePackage}.extension.html.GutterLink</class>
	</extension>
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${modulePackage}.extension.html.DemoGutterLink</class>
	</extension>
	
	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.ObsService</point>
		<class>${modulePackage}.advice.ObsAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>${modulePackage}.advice.EncounterAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>${modulePackage}.advice.PatientAdvice</class>
	</advice>
	
	<!-- Privileges used in module -->
	<privilege>
		<name>Manage MoTeCH</name>
		<description>Allows viewing and interacting with the MoTeCH management functions</description>
	</privilege>
	
	<privilege>
		<name>Use MoTeCH</name>
		<description>Enables a user to view the motech menu in the gutter</description>
	</privilege>

	<privilege>
		<name>Use MoTeCH Demo</name>
		<description>Enables a user to view the motech menu in the gutter</description>
	</privilege>

	<privilege>
		<name>Register MoTeCH Maternal Visit</name>
		<description>Allows registration of a maternal visit via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Register MoTeCH Facility</name>
		<description>Allows registration of a facility via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Manage MoTeCH Troubled Phones</name>
		<description>Allows ability to view and enable troubled phones via MoTeCH</description>
	</privilege>
		
	<privilege>
		<name>Manage MoTeCH Blackout</name>
		<description>Allows management of global blackout interval for MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>View MoTeCH Data</name>
		<description>Allows viewing MoTeCH data summary</description>
	</privilege>
		
	<privilege>
		<name>Register MoTeCH Staff</name>
		<description>Allows registration of a staff member via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Register MoTeCH Patient</name>
		<description>Allows registration of a patient via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Register MoTeCH Pregnancy</name>
		<description>Allows registration of a pregnancy via MoTeCH</description>
	</privilege>

    <privilege>
        <name>Register MoTeCH Communities</name>
        <description>Allows to add new communities and edit existing ones</description>
    </privilege>
    
    <privilege>
        <name>Duplicate Patients</name>
        <description>Allows the admin to delete duplicate patients</description>
    </privilege>

    <privilege>
        <name>View RCT Patients</name>
        <description>Allows the admin to view patients related to RCT</description>
    </privilege>

	<globalProperty>
		<property>motechmodule.troubled_phone_failures</property>
		<defaultValue>4</defaultValue>
		<description>Number of sending failures when phone is considered troubled</description>
	</globalProperty>

	<globalProperty>
		<property>motechmodule.patient_care_reminders</property>
		<defaultValue>3</defaultValue>
		<description>Maximum number of reminders for a specific care to send to a patient</description>
	</globalProperty>

	<globalProperty>
		<property>motechmodule.patient_message_delivery_day_of_week</property>
		<defaultValue>MONDAY</defaultValue>
		<description>Default day of week to send messages to a patient</description>
	</globalProperty>
	
	<globalProperty>
		<property>motechmodule.patient_message_delivery_time_of_day</property>
		<defaultValue>18:00</defaultValue>
		<description>Default time of day to send messages to a patient</description>
	</globalProperty>

	<globalProperty>
		<property>motechmodule.max_query_results</property>
		<defaultValue>50</defaultValue>
		<description>Maximum number of results returned to users</description>
	</globalProperty>
		
	<dwr>
		<allow>
			<create creator="new" javascript="DWRMotechService">
				<param name="class" value="${modulePackage}.web.dwr.DWRMotechService" />
				<include method="findMatchingPatients"/>
			</create>
			<convert converter="bean" match="${modulePackage}.web.model.WebPatient">
				<param name="include" value="id, motechId, firstName, lastName, prefName, birthDate, communityId, communityName, nhis, phoneNumber" />
			</convert>
		</allow>
	</dwr>
	
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.artifactId}.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

	<mappingFiles>
		${omodHbmConfig}
	</mappingFiles>

</module>

