<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke" parallel="none">
  <test name="flows.RegisterClientPageTest">
    <groups>
        <run>
            <include name="smoke"/>
        </run>
    </groups>
     <classes>
        <class name="fflows.RegisterClientPageTest"/>
         <class name="R"
     </classes>
  </test>
</suite>