<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>${moduleName}</id>
	<name>${project.name}</name>
	<version>${project.version}</version>
	<package>${modulePackage}</package>
	<author>Matthew Blanchette</author>
	<description>
			${project.description}
	</description>

	<activator>${modulePackage}.MotechModuleActivator</activator>
		
	<require_version>1.4.4.00.9117</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${modulePackage}.extension.html.AdminList</class>
	</extension>
	
	
	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.ObsService</point>
		<class>${modulePackage}.advice.SaveObsAdvisor</class>
	</advice>
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>${modulePackage}.advice.SavePatientAdvisor</class>
	</advice>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.artifactId}.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

	<mappingFiles>
		${openmrsConfigMappingFiles}
	</mappingFiles>

</module>

