<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>${moduleName}</id>
	<name>${project.name}</name>
	<version>${project.version}</version>
	<package>${modulePackage}</package>
	<author>Matthew Blanchette</author>
	<description>
			${project.description}
	</description>

	<activator>${modulePackage}.MotechModuleActivator</activator>
		
	<require_version>1.5.0.10342</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${modulePackage}.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${modulePackage}.extension.html.GutterLink</class>
	</extension>
	
	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.ObsService</point>
		<class>${modulePackage}.advice.SaveObsAdvisor</class>
	</advice>
	
	<!-- Privileges used in module -->
	<privilege>
		<name>Manage MoTeCH</name>
		<description>Allows viewing and interacting with the MoTeCH management functions</description>
	</privilege>
	
	<privilege>
		<name>Use MoTeCH</name>
		<description>Enables a user to view the motech menu in the gutter</description>
	</privilege>

	<privilege>
		<name>Register MoTeCH Maternal Visit</name>
		<description>Allows registration of a maternal visit via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Register MoTeCH Clinic</name>
		<description>Allows registration of a clinic via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Manage MoTeCH Troubled Phones</name>
		<description>Allows ability to view and enable troubled phones via MoTeCH</description>
	</privilege>
		
	<privilege>
		<name>Manage MoTeCH Blackout</name>
		<description>Allows management of global blackout interval for MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>View MoTeCH Data</name>
		<description>Allows viewing MoTeCH data summary</description>
	</privilege>
		
	<privilege>
		<name>Register MoTeCH Nurse</name>
		<description>Allows registration of a nurse via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Register MoTeCH Patient</name>
		<description>Allows registration of a patient via MoTeCH</description>
	</privilege>
	
	<privilege>
		<name>Register MoTeCH Pregnancy</name>
		<description>Allows registration of a pregnancy via MoTeCH</description>
	</privilege>
	
	<globalProperty>
		<property>motechmodule.troubled_phone_failures</property>
		<defaultValue>4</defaultValue>
		<description>Number of sending failures when phone is considered troubled</description>
	</globalProperty>
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRMotechService">
				<param name="class" value="${modulePackage}.web.dwr.DWRMotechService" />
				<include method="findMatchingPeople"/>
			</create>
			<convert converter="bean" match="${modulePackage}.web.model.WebPatient">
				<param name="include" value="id, firstName, lastName, birthDate, community, regNumberGHS, nhis, primaryPhone, secondaryPhone" />
			</convert>
		</allow>
	</dwr>
	
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.artifactId}.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

	<mappingFiles>
		${omodHbmConfig}
	</mappingFiles>

</module>

