<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>motech webapp</display-name>

	<servlet>
		<servlet-name>reg-servlet</servlet-name>
		<servlet-class>org.motech.web.RegistrationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>reg-servlet</servlet-name>
		<url-pattern>/regTest</url-pattern>
	</servlet-mapping>

</web-app>